[submodule "app"]
	path = app
	url = https://github.com/MPenk/absolwent.git
	branch = main
[submodule "api_test"]
	path = api_test
	url = https://github.com/MPenk/absolwent-api-test.git
	branch = test
[submodule "api"]
	path = api
	url = https://github.com/MG9944/absolvent_backend.git
	branch = main
[submodule "app_test"]
	path = app_test
	url = https://github.com/MPenk/absolwent.git
	branch = test
